<div class="section">
  <div class="container">
  <div class="columns is-centered">

      <div class="column is-4">

      <h2 class="title is-2">Log In</h2>

      <div class="field">
        <div class="control">
        <%= form_tag(login_path) do %>
        <%= label_tag :username %>
        <%= text_field_tag :username %>
        </div>
      </div>

      <div class="field">
        <div class="control">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
        </div>
      </div>

      <div class="field">
        <div class="control">
      <%= submit_tag 'Login', class: "button is-info is-small" %>
        </div>
      </div>

  </div>
  </div>
</div>

    <% end %>
