<h1> Hi, <%= @user.username %> </h1>


<h3>Edit your info below:</h3>

<%=form_for @user do |f|%>

<%=f.label "Name:" %>
<p><%=f.text_field :username %></p><br>

<%=f.label "Location:" %>
<p><%=f.text_field :location %></p><br>

<%=f.label "Age:" %>
<p><%=f.number_field :age %></p><br>

<%=f.label "Relationship Status:" %>
<p><%=f.text_field :relationship %></p><br>

<%=f.label "Gender:" %>
<p><%=f.text_field :gender %></p><br>

<%=f.label "Profile Photo:" %>
<p><%=f.file_field :avatar %></p><br>

<%=f.submit "Submit" %>

<%end%>
