<h1> Hi, <%= @user.username %> </h1>


<h3>Edit your info below:</h3>

<%=form_for @user do |f|%>

<%=f.label "Name" %>
<%=f.text_field :username %>

<%=f.label "Location" %>
<%=f.text_field :location %>

<%=f.label "Age" %>
<%=f.number_field :age %>

<%=f.label "Relationship Status" %>
<%=f.text_field :relationship %>

<%=f.label "Gender" %>
<%=f.text_field :gender %>

<%=f.submit "Submit" %>

<%end%>
