<h1> Ticket New </h1>

<%=form_for @ticket do |f|%>
<%=f.label "artist name" %>
<%=f.text_field :artist_name%>
<%=f.label "event date" %>
<%=f.date_field :event_date %>
<%=f.collection_select :venue_id, @venues, :id, :name %>
<%=f.collection_select :user_id, @users, :id, :username %>
<%=f.submit "Submit" %>
<%end%>
