<!DOCTYPE html>
<html>
  <head>
    <title>XtraTix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <!-- <link rel="stylesheet" href="styles/debug.css"> -->
    <link rel="stylesheet" href="styles/helpers.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>


    </style>

  </head>
  <body>

    <!-- hero with navbar -->

    <section class="hero has-background-primary is-small">
      <div class="hero-body">

        <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary" href="/users/new">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light" href="/login">
                <strong>Log in</strong>
              </a>
            </div>
          </div>
        </div>
        </nav>

        <div class="container">
        <h1 class="title is-1 has-text-centered has-text-weight-bold">XtraTiX</h1>
        <h2 class="subtitle has-text-centered has-text-weight-semibold">Share tickets and make new friends!</h2>
        </div>
      </div>
    </section>




    <section class="section has-background-light">
			<div class="container">
        <%= yield %>
        <div class="columns">
          </div>
        </div>
      </section>

      <span class="icon is-large">
        <i class="fab fa-github" aria-hidden="true"></i>
      </span>
    <nav class="navbar" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item">
            Home
        </a>

        <a class="navbar-item">
          About
        </a>

        <a class="button is-warning is-small" href="/logout">
          <strong>Logout</strong>
        </a>
  </body>
</html>
